<keycloakRoleService>
  <id>65747529:18c20a5bc8a:-8000</id>
  <name>shogun-keycloak</name>
  <className>org.geoserver.security.keycloak.KeycloakRoleService</className>
  <serverURL>http://shogun-keycloak:8080</serverURL>
  <realm>SHOGun</realm>
  <clientID>shogun-geoserver</clientID>
  <clientSecret>6zVR0mOUAdksTnBkFRJMrmHcCvcXnIzn</clientSecret>
  <idsOfClientsList>016e62cc-913c-4985-ac1f-c369dd5aabd0</idsOfClientsList>
</keycloakRoleService>