shogun-geoserver/geoserver_data/data
shogun-geoserver/geoserver_data/logs/log.*
shogun-geoserver/geoserver_data/logs/*.log*
shogun-geoserver/geoserver_data/geofence/geofence_db/*.log.db
shogun-geoserver/geoserver_data/geofence/geofence_db/*.lock.db
shogun-geoserver/geoserver_data/gwc/diskquota_page_store_h2
shogun-geoserver/geoserver_data/gwc/SHOGUN_COUNTRIES
shogun-geoserver/geoserver_data/legendsamples
shogun-postgis/postgresql_data
shogun-redis/redis_data
shogun-solr/solr_data/data/search/data/
shogun-solr/solr_data/logs/
shogun-nginx/ssl/private/*.crt
shogun-nginx/ssl/private/*.key

*iml
.idea
.env
