version: '3.7'
services:
  shogun-print:
    extends:
      file: ./common-services.yml
      service: shogun-print
  shogun-geoserver:
    extends:
      file: ./common-services.yml
      service: shogun-geoserver
    image: terrestris/geoserver:2.21.0
  shogun-postgis:
    extends:
      file: ./common-services.yml
      service: shogun-postgis
  shogun-keycloak:
    extends:
      file: ./common-services.yml
      service: shogun-keycloak
  shogun-nginx:
    extends:
      file: ./common-services.yml
      service: shogun-nginx
    volumes:
      - ./shogun-nginx/prod/default.conf:/etc/nginx/templates/default.conf.template
  shogun-admin:
    extends:
      file: ./common-services.yml
      service: shogun-admin
    image: docker-public.terrestris.de/terrestris/shogun-admin:11.1.0
  shogun-client:
    extends:
      file: ./common-services.yml
      service: shogun-client
    image: docker-public.terrestris.de/terrestris/shogun-gis-client:4.11.0
  shogun-boot:
    extends:
      file: ./common-services.yml
      service: shogun-boot
    image: docker-public.terrestris.de/shogun/shogun-boot:14.1.0
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: '0.50'
          memory: 1G
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx512m -Djdk.serialSetFilterAfterRead=true -Dspring.config.location=/config/application.yml"
    volumes:
      - ./shogun-boot/keystore/cacerts:/etc/ssl/certs/java/cacerts
  shogun-gs-interceptor:
    extends:
      file: ./common-services.yml
      service: shogun-gs-interceptor
    image: docker-public.terrestris.de/shogun/shogun-gs-interceptor:14.1.0
  shogun-solr:
    extends:
      file: ./common-services.yml
      service: shogun-solr
