version: '3.7'
services:
  shogun-print:
    extends:
      file: ./common-services.yml
      service: shogun-print
  shogun-geoserver:
    extends:
      file: ./common-services.yml
      service: shogun-geoserver
    build:
      context: ./shogun-geoserver
      args:
        USER_UID: ${UID}
        USER_GID: ${GID}
        USER_NAME: ${UNAME}
  shogun-postgis:
    extends:
      file: ./common-services.yml
      service: shogun-postgis
    ports:
      - "5555:5432"
  shogun-keycloak:
    extends:
      file: ./common-services.yml
      service: shogun-keycloak
  shogun-nginx:
    extends:
      file: ./common-services.yml
      service: shogun-nginx
    volumes: 
      - ./shogun-nginx/dev/default.conf:/etc/nginx/templates/default.conf.template
  shogun-client:
    extends:
      file: ./common-services.yml
      service: shogun-client
    build:
      context: ${SHOGUN_CLIENT_DIR}
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    volumes:
      - ${SHOGUN_CLIENT_DIR}:/app
  shogun-admin:
    extends:
      file: ./common-services.yml
      service: shogun-admin
    build:
      context: ${SHOGUN_ADMIN_DIR}
      dockerfile: Dockerfile.dev
    ports:
      - 9090:9090
    volumes:
      - ${SHOGUN_ADMIN_DIR}:/app
  shogun-boot:
    extends:
      file: ./common-services.yml
      service: shogun-boot
    build:
      context: ${SHOGUN_DIR}/shogun-boot/
    ports:
      - "4711:4711"
      - "9010:9010"
    volumes:
      - ${SHOGUN_DIR}/:/shogun/
      - ~/.m2:/root/.m2
      - ./shogun-boot/keystore/cacerts:/etc/pki/ca-trust/extracted/java/cacerts
  shogun-gs-interceptor:
    extends:
      file: ./common-services.yml
      service: shogun-gs-interceptor
    build:
      context: ${SHOGUN_DIR}/shogun-gs-interceptor/
    ports:
      - "4712:4711"
      - "9011:9010"
    volumes:
      - ${SHOGUN_DIR}/:/shogun/
      - ~/.m2:/root/.m2
