server:
  port: 8080
  # this flag is needed to properly redirect to https:
  forward-headers-strategy: framework
  servlet:
    context-path: /
  error:
    whitelabel:
      enabled: true
    include-stacktrace: never

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  main:
    banner-mode: off
  jpa:
    # Show SQL statements
    show-sql: true
    open-in-view: true
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
    hibernate:
      jdbc:
        lob:
          non_contextual_creation: true
      ddl-auto: none
    properties:
      javax:
        persistence:
          sharedCache:
            # Only entities with @Cacheable annotation will use L2 cache
            mode: ENABLE_SELECTIVE
      org:
        hibernate:
          # See https://docs.jboss.org/envers/docs/#configuration
          envers:
            default_schema: shogun_rev
            audit_table_prefix: _rev
            global_with_modified_flag: true
      hibernate:
        javax:
          cache:
            provider: org.ehcache.jsr107.EhcacheCachingProvider
            uri: ehcache.xml
        format_sql: true
        # Generate statistics to check if L2/query cache is actually being used
        generate_statistics: true
        cache:
          # Enable L2 cache
          use_second_level_cache: true
          # Enable query cache
          use_query_cache: true
          region:
            factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
        integration:
          envers:
            # Set this to false to disable auditing entity changes
            enabled: true
  messages:
    basename: org/springframework/security/messages, de/terrestris/shogun/lib/messages
  jackson:
    serialization:
      fail-on-empty-beans: false
  flyway:
    enabled: true
    baselineOnMigrate: true
    locations: classpath:db/migration
    defaultSchema: shogun
    schemas: shogun, public
  datasource:
    platform: postgres
    url: jdbc:postgresql://shogun-postgis/shogun?currentSchema=shogun
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  session:
    store-type: none
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    protocol: smtp
    username: noreply
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true
          timeout: 8000
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://${KEYCLOAK_HOST:shogun-keycloak}/auth/realms/SHOGun
          jwk-set-uri: https://${KEYCLOAK_HOST:shogun-keycloak}/auth/realms/SHOGun/protocol/openid-connect/certs

keycloak:
  enabled: true
  server-url: https://${KEYCLOAK_HOST:shogun-keycloak}/auth
  username: ${KEYCLOAK_USER}
  password: ${KEYCLOAK_PASSWORD}
  master-realm: master
  admin-client-id: admin-cli
  realm: SHOGun
  client-id: shogun-boot
  principal-attribute: preferred_username
  disableHostnameVerification: true

controller:
  applications:
    enabled: true
  auth:
    enabled: true
  cache:
    enabled: true
  files:
    enabled: true
  groups:
    enabled: true
  imagefiles:
    enabled: true
  info:
    enabled: true
  layers:
    enabled: true
  users:
    enabled: true
  resource:
    enabled: true
  singlepageapp:
    enabled: true

upload:
  file:
    supportedContentTypes:
      - application/json
      - application/pdf
      - application/xml
      - application/zip
      - text/comma-separated-values
      - text/plain
      - text/xml
  image:
    thumbnailSize: 100
    supportedContentTypes:
      - image/bmp
      - image/gif
      - image/jpeg
      - image/png
      - image/svg+xml
      - image/tiff
  basePath: /data
  maxSize: 500M

support:
  email: noreply@terrestris.de

management:
  endpoints:
    web:
      exposure:
        include: "*"
