<securityInterceptor>
  <id>-3ebf8aa7:17c41558a19:-7ff0</id>
  <name>restInterceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>restFilterDefinitionMap</securityMetadataSource>
</securityInterceptor>